
/* Modal overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    font-family: 'Jost';
    background-color: var(--black);
    color: var(--muted);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(var(--panel-shadow-rgb),0.3);
    position: relative;
}

.modal-content h2 {
    margin: 0 0 10px;
    color: var(--white);
}
.modal-content hp {
    margin: 0 0 10px;
    color: var(--white);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: var(--muted);
}

.modal-close:hover {
    color: var(--white);
}
